.chat-small {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  border-bottom: 1px solid #d5d5d5;
  cursor: pointer;

  &:hover {
    background: #d3e2ff;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    gap: 3px
  }

  .chat-info {
    flex-grow: 1;
  }

  .chat-time {
    font-size: 0.8em;
    color: gray;
  }
}
