.chat-small {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &.active {
    background: #d3e2ff;
  }

  .chat-info {
    flex-grow: 1;
  }

  .chat-time {
    font-size: 0.8em;
    color: gray;
  }
}
